<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-04-06T11:52:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ogorbachenko/projects/lisnr-legacy-sdk-ios-7.0.0 2/samples/iOS-Sample-App/iOS-Sample-App.xcworkspace</string>
</dict>
</plist>
